  <!-- Portfolio Section -->
  <section class="page-section portfolio mb-0" id="portfolio" style="background-color:white;">
    <div class="container " >      
      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">招租資訊</h2>      
      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <span class = "text-secondary" style="font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">《您的最佳選擇─紅瓦厝》</span>
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px solid darkblue;box-shadow:5px 10px 5px gray;cursor:default;">          
            <img class="img-fluid" src="./templates/creative/img/Portfolio/1.jpg" alt="">
          </div>
        </div>
        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px solid darkblue;box-shadow:5px 10px 5px gray;cursor:default;">
            <img class="img-fluid" src="./templates/creative/img/Portfolio/2.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section" id="" style="background-color:white;">
    <div class="container">
      <!-- tastyfood Grid Items -->      
      <div class="row">
        <!-- tastyfood Item 1 -->
        <div class="col-md-6 col-lg-6"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">《生活機能優─㊣是您的首選》</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px double brown;box-shadow:5px 10px 5px gray;cursor:default;">
            <img class="img-fluid" src="./templates/creative/img/tastyfood/A.jpg" alt="">
          </div>
        </div>
        <!-- tastyfood Item 2 -->
        <div class="col-md-6 col-lg-6"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px double brown;box-shadow:5px 10px 5px gray;cursor:default;">           
            <img class="img-fluid" src="./templates/creative/img/tastyfood/B.jpg" alt="">
          </div>
        </div>
      </div>    

    </div>
  </section>
  <hr style="background-color:white;">

  <!-- tastyfood -->
  <section class="page-section bg-primary text-white mb-0" id="tastyfood">
    <div class="container">
       <!-- literature Section Heading -->
       <h2 class="page-section-heading text-center text-uppercase text-white" style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">雅房物件</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- tastyfood Grid Items -->      
      <div class="row">

        <!-- tastyfood Item 1 -->
        <div class="col-md-6 col-lg-6"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">《生活機能優─㊣是您的首選》</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px double brown;box-shadow:5px 10px 5px white;">
            <img class="img-fluid" src="./templates/creative/img/tastyfood/A.jpg" alt="">
          </div>
        </div>

        <!-- tastyfood Item 2 -->
        <div class="col-md-6 col-lg-6"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px double brown;box-shadow:5px 10px 5px white;">           
            <img class="img-fluid" src="./templates/creative/img/tastyfood/B.jpg" alt="">
          </div>
        </div>

      </div>

    <span>&nbsp;</span>
      <div class="row">
        <div class="col-md-10 col-lg-10 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【同一地址物件】</span>
           <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border:4px double brown;box-shadow:5px 10px 5px white;">
           <img class="img-fluid" src="./templates/creative/img/tastyfood/C.jpg" alt="">
           </div>
        </div>
      </div>
	</div>
  </section>
  <hr style="background-color:white;">

  <!-- historic -->
  <section class="page-section text-white mb-0" id="historic">
    <div class="container">

       <!-- literature Section Heading -->
       <h2 class="page-section-heading text-center text-uppercase text-white"style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">圖影覽視</h2>
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 房屋外觀格局 】</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white -5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site01.jpg" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site01_01.gif" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
      </div>

      <span>&nbsp;</span>
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 公共區景觀 】</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white -5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site02.jpg" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site02_02.gif" style="border:5px solid black;height:298px;width:100%;">
          </div>
        </div>
      </div>

      <span>&nbsp;</span>
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 雅1房景觀 】</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white -5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site03.jpg" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site03_03.gif" style="border:5px solid black;height:298px;width:100%;">
          </div>
        </div>
      </div>

      <span>&nbsp;</span>
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 雅2房景觀 】</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white -5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site04.jpg" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site04_04.gif" style="border:5px solid black;height:298px;width:100%;">
          </div>
        </div>
      </div>

      <span>&nbsp;</span>
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 雅3房景觀 】</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white -5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site05.jpg" style="border:5px solid black;height:300px;width:100%;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><span>&nbsp;</span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <img class="img-fluid" src="./templates/creative/img/historical site/historical site05_05.gif" style="border:5px solid black;height:298px;width:100%;">
          </div>
        </div>
      </div>

      <span>&nbsp;</span>
      <div class="row">
        <span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【 房屋房間景觀影片播放 】</span>
        <div class="col-md-10 col-lg-10 mx-auto" style="border-radius: 5px;border: 4px double orange;box-shadow: white 5px 10px 5px;">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target=""style="border: 4px solid black;">
          <iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/Azoj9G6BQHw"style="border: 2px solid gray;height: 330px; width: 100%;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr style="background-color:white;">

  <!-- family -->
  <section class="page-section bg-primary text-white mb-0" id="family">
    <div class="container">

      <!-- literature Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white"style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">位置地圖街景</h2>
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto"><b><span style="font-size: large;">《位置地址》</span></b>		
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="">
          <span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【地圖】</span>
          <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.1402987448337!2d120.20632049999999!3d22.9818678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e768060557075%3A0x5f9c060e5e6250f3!2zNzAw5Y-w5Y2X5biC5Lit6KW_5Y2A5YGl5bq36Lev5LiA5q61MTcw5be3MeW8hDE06Jmf!5e0!3m2!1szh-TW!2stw!4v1436270812760" style="border:4px double brown;box-shadow:5px 10px 5px white;height:330px;width:100%;"></iframe>     
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto"><b><span style="font-size:12px;">【台南市中西區健康路1段170巷1弄14號之3】</span></b>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="">
          <span class="text-secondary" style="color:white !important;font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【街景】</span>
          <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1szh-TW!2stw!4v1436318295297!6m8!1m7!1sLFWlJDDp5g2aLaQELL5xmQ!2m2!1d22.981606!2d120.206459!3f4.290417332981049!4f-16.664856065358265!5f0.7820865974627469" style="border:4px double brown;box-shadow:5px 10px 5px white;height:330px;width:100%;"></iframe>
          </div>
        </div>
      </div>

    </div>

  </section>
  <hr style="background-color:white;">

  <!-- About Section -->
  <section class="page-section text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white" style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">相關須知</h2>
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border:4px double orange;box-shadow:5px 10px 5px white;">
          <img class="img-fluid" src="./templates/creative/img/about/1.jpg" alt="" style="border:5px solid black;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius: 5px;border:4px double orange;box-shadow:5px 10px 5px white;">
          <img class="img-fluid" src="./templates/creative/img/about/2.jpg" alt="" style="border:5px solid black;">
          </div>
        </div>
      </div>      

      <!-- About Section Button -->
      <!-- <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
          Free Download!
        </a>
      </div> -->

    </div>
  </section>
  <hr style="background-color:white;">
  
  <!-- Contact Section -->
  <section class="page-section mb-0" id="contact" style="background-color:white;">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"style="font-family: 'Noto Sans TC', serif; font-size: 36px; font-weight: 290px;">附錄參考</h2>
      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-md-6 col-lg-6 mx-auto">
          <span class="text-secondary" style="font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【附1】計收使用電費一覽樣式 </span>
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius:5px;border:4px solid darkblue;box-shadow:5px 10px 5px gray;">
          <img class="img-fluid" src="./templates/creative/img/contact/1.jpg" alt="" style="border:4px solid orange;width:100%;height:300px;">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mx-auto">
          <a href="https://drive.google.com/file/d/0B7llTIi7yK-gVWY1SWlZSGJtNDA/view" target="mfram">
          <span class="text-secondary rounded" style="font-family: 'Noto Sans TC', serif; font-size: 16px; font-weight:bold;">【附2】房屋租賃契約書範本</span></a>          
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="" style="border-radius:5px;border:4px solid darkblue;box-shadow:5px 10px 5px gray;">          
          <img class="img-fluid" src="./templates/creative/img/contact/2.jpg" alt="" style="border:4px solid orange;width:100%;height:300px;">
          </div>
        </div>
      </div>

    </div>
  </section>
  <hr style="background-color:white;">