<!-- footer -->
<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location -->
        <div class="col-lg-12 mb-5 mb-lg-0" style="display: block;align-items: center;justify-content: center;">
          <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f" ></i></a>
          <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a>
		  <a href="#"><img id="LQRcode" src="templates/creative/img/header/MywebQR.png" style="width:95px;"/></a>
          <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a>
          <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
      </div>
    </div>
</footer>
